#contact {
    background-color: #f9f9f9;
    padding: 10% 5%;
    text-align: center;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-container h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 800;
  }
  

  .form-group {
    margin-bottom: 20px;
    text-align: left;
    }
  
  .form-group label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .submit-btn {
    background-color: #ff2b17;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #d45549;
  }
  
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .footer-container {
    max-width: 100%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-info {
    flex: 1;
  }
  
  .footer-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-info p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
    margin-right: 20px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }
  
  .social-links a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #ff2b17;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
