@media screen and (max-width: 480px) {
    .sidebar-container {
        display: none;
    }

    .About{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .text-part{
        width: 100%;
    }
    .picture-part{
        width: 100%;
    }
    .school{
        width: 90%;
        max-width: 90%;
    }

    .content img{
        display: none;
    }
    .content section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .important-experience {
        max-width: 90%;
        margin-left: 5%;
        text-align: justify;
    }

    .content p{
        width: 100%;
    }

    #scene{
        width: 100%;
    }

    #scene h1{
        font-size: 1rem;
    }

    #scene p{
        display: none;
    }
}
